body {
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #212121;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  width: 480px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo-accent {
  color: #2196F3;
}

.title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 33px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

.social-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #AFB1B8;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item__link:hover {
  background-color: #2196F3;
  fill: #fff;
}

.social-item__link--inverse-color {
  fill: #fff;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-item__link--inverse-color:hover {
  background: #2196F3;
}

.section.header {
  padding: 0;
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

.header-nav {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__logo {
  display: inline-block;
  margin-right: 276px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 24px;
  line-height: 1.08;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .header-nav__logo {
    margin-right: 88px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 768px) {
  .header-nav__logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.menu-button {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 0;
  right: 0;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: #fff;
}

.menu-container.is-open {
  display: block;
}

.header-nav__list {
  display: block;
}

@media screen and (min-width: 768px) {
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-nav__link {
  display: block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-nav__link:hover {
  color: #2196F3;
}

.header-nav__link--current {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .header-nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 32px 0px;
    font-size: 14px;
    line-height: 1.14;
  }
  .header-nav__link--current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    margin: 0;
    padding: 0;
    background-color: #2196F3;
    border-radius: 2px;
  }
}

.header-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .header-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts {
  display: block;
  margin-top: 302px;
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    padding: 0;
  }
}

.header-contacts__item {
  display: block;
}

@media screen and (min-width: 1200px) {
  .header-contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.header-contacts__link {
  color: #757575;
}

@media screen and (max-width: 480px) {
  .header-contacts__link {
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 32px 0px;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header-contacts__link:hover {
    color: #2196F3;
  }
}

.header-contacts__icon {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-contacts__icon {
    display: contents;
    margin-right: 10px;
    fill: currentColor;
  }
}

.header-nav__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

@media screen and (min-width: 767px) {
  .header-nav__social-list {
    display: none;
  }
}

.header-nav__social-item:not(:last-child) {
  margin-right: 10px;
}

.header-nav__social-item:not(:last-child)::after {
  content: '';
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.header-nav__social-link {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.section__hero {
  margin: 0 auto;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../img/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2F303A;
}

@media screen and (min-width: 480px) {
  .section__hero {
    max-width: 480px;
    height: 400px;
    padding: 118px 0px;
  }
}

@media screen and (min-width: 768px) {
  .section__hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section__hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0px;
  }
}

.hero__title {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #fff;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: #2196F3;
  border-radius: 4px;
}

.advantage__list {
  display: block;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantage__item {
  width: 450px;
}

@media screen and (min-width: 1200px) {
  .advantage__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantage__title {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .advantage__text {
    width: 270px;
    height: 75px;
  }
}

.advantage__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .advantage__icon-wrap {
    width: 270px;
  }
}

.section-activity {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-activity {
    display: contents;
    padding-top: 0;
  }
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__item {
  position: relative;
  height: 294px;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__text-wrap {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.section-team {
  background-color: #F5F4FA;
}

@media screen and (min-width: 1200px) {
  .section-team {
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 1200px) {
  .teammate__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
}

.teammate__item {
  width: 450px;
  height: 622px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .teammate__item {
    width: 270px;
  }
  .teammate__item:not(:last-child) {
    margin-right: 30px;
  }
}

.teammate__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .teammate__wrap {
    padding-bottom: 30px;
  }
}

.teammate__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.teammate__position {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

@media screen and (min-width: 1200px) {
  .social-item:not(:last-child) {
    margin-right: 10px;
  }
}
/*# sourceMappingURL=main.css.map */