.advantage__list {
    display: flex;
}

.advantage__item {
    &:not(:last-child) {
        margin-right: 30px;}
}

.advantage__text {
    width: 270px;
    height: 75px;

    font-size: 14px;
    line-height: 1.71;

    color: $text-color;
}



.advantage__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background: #F5F4FA;
    border-radius: 4px;
}


.advantage__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}