.advantage__list {
    display: block;
    @media screen and (min-width:768px){
        display: flex;
        flex-wrap: wrap;
    }
}

.advantage__item {
    @media screen and (max-width:(768px - 0.02)) {
        width: 450px;
    
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:768px) and (max-width:(1200px - 0.02)) {
        width: calc((100% - 30px) / 2);

        &:nth-child(2n+1) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n + 2)) {
            margin-bottom: 30px;
        }
    }
   
    @media screen and (min-width:1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.advantage__title {
    margin-bottom: 10px;
    
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        text-align: left;
    }
}

.advantage__text {
    font-size: 14px;
    line-height: 1.71;

    color: $text-color;

    @media screen and (min-width:1200px) {
        width: 270px;
        height: 75px;
    }
}

.advantage__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;

    background: #F5F4FA;
    border-radius: 4px;

    @media screen and (min-width:768px) {
        width: 354px;

    }

    @media screen and (min-width:1200px) {
        width: 270px;

    }  
}