.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.clients-item {
    @media screen and (max-width:767px) {
        &:nth-child(odd) {
            margin-right: 30px;
        }
    
        &:nth-child(-n + 4) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-right: 30px;
        &:nth-child(3n) {
            margin-right: 0px;
        }
        &:nth-child(n + 4) {
            margin-top: 30px;
        }
    }
    
    @media screen and (min-width:1200px) {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
}

.clients-item__link {
    display: flex;
    
    @media screen and (min-width:1200px) {
        width: 170px;
    }
    
    width: 210px;
    height: 92px;
    justify-content: center;
    align-items: center;

    fill: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: $transition-duration $transition-timing-function, border-color $transition-duration $transition-timing-function;

    &:hover, &:focus {
        fill: $brand-color;
        border-color: $brand-color;
    }
}