.section.header {
    padding: 0;
    position: relative;
    border-bottom: 1px solid #ECECEC;
}

.header-nav {
    display: inline-block;
    align-items: center;
}

.header-nav__container {
    display: flex;
}

.header-nav__logo {
    display: inline-block;
    margin-right: 276px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 1.08;

    color: $main-text-color;
    font-family: $secondary-font;
    font-weight: 700;

    @media screen and (min-width:768px) {
        margin-right: 88px;
        padding-top: 26px;
        padding-bottom: 26px;
    }

    @media screen and (min-width:768px) {
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;
        font-size: 26px;
        line-height: 1.19;
        }
    
    font-family: $secondary-font;
    font-weight: 700;
    
    color: $main-text-color;
    font-family: $secondary-font;
    font-weight: 700;
    
    color: $main-text-color;
}

.menu-button {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 0;
    right: 0;
    z-index: 3;

    

    @media screen and (min-width:768px) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    display: none;
    position: fixed;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
   

    background-color:$white-color;

    &.is-open {
        display: block;
    }


    // @media screen and (max-width:767px) {
    //     display: none;
    // }
}

.header-nav__list {
    display: block;

    @media screen and (min-width:768px) {
        display: flex;
    } 
}

.header-nav__link {
    display: block;

    transition: color $transition-duration $transition-timing-function;
    
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: $main-text-color;
    
    &:hover {
        color: $brand-color
    }

    &--current {
         color: $brand-color
    }

    @media screen and (min-width:768px) {
        display: flex;
        padding: 32px 0px;
        font-size: 14px;
        line-height: 1.14;

            &--current::after {
                position: absolute;
                content: '';
                left: 0;
                bottom: -1px;
                width: 100%;
                height: 4px;
                margin: 0;
                padding: 0;
                background-color: $brand-color;
                border-radius: 2px;
            }
    }
}

.header-nav__item {
    &:not(:last-child) {
            margin-bottom: 32px;
        }

    @media screen and (min-width:768px) {
        &:not(:last-child) {
                margin-right: 50px;
        }
    }
}

.header-contacts {
    display: block;
    margin-top: 302px;

    @media screen and (min-width:1200px) {
        display: flex;
        margin-left: auto;
        padding: 0;
    }
}

.header-contacts__item {
    display: block;
    
    @media screen and (min-width:1200px) {
        &:not(:last-child) {
                margin-right: 50px;
    }
}
}

.header-contacts__link {
    @media screen and (min-width:1200px) {
        display: flex;
            align-items: center;
            padding: 32px 0px;
        
            transition: color $transition-duration $transition-timing-function;
        
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
        
            color: $text-color;
        
            &:hover {
                color: $brand-color;
            }
    }
}

.header-nav__social-list {
    display: flex;
    margin-top: 64px;
}

.header-nav__social-item:not(:last-child) {
    margin-right: 10px;

    &::after {
        content: '';
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-left: 10px;
    }
}