.section.header {
    padding: 0;
    position: relative;
    border-bottom: 1px solid #ECECEC;
}

.header-nav {
    align-items: center;

    @media screen and (max-width:(768px - 0.02)) {
        display: inline-block;
    }

    @media screen and (min-width:768px) {
        display: flex;
    }
}

.header-nav__container {
    display: flex;
}

.header-nav__logo {
    color: $main-text-color;
    font-family: $secondary-font;
    font-weight: 700;

    @media screen and (max-width:(768px - 0.02)) {
        display: inline-block;
        margin-right: 276px;
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 24px;
        line-height: 1.08;
    }

    @media screen and (min-width:768px) {
        display: block;
        margin-right: 88px;
        padding-top: 26px;
        padding-bottom: 26px;
        font-size: 24px;
        line-height: 1.19;
    }

    @media screen and (min-width:1200px) {
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;
        font-size: 26px;
        line-height: 1.19;
        }
    
    
}

.menu-button {
    display: inline-block;
    border: none;
    background-color: transparent;
    padding: 0;
    right: 0;
    z-index: 6;
    &:hover, &:focus {
        fill: $brand-color;
    }

    @media screen and (min-width:768px) {
        display: none;
    }
}

.menu-button .icon-cross {
    display: none;
}

.menu-button.is-open .icon-cross {
    display: block;
}

.menu-button.is-open .icon-menu {
    display: none;
}

.menu-container {
    @media screen and (max-width:(768px - 0.02)) {
        display: none;
        position: fixed;
        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 48px 40px;
        
        
        background-color: $white-color;
        
        &.is-open {
            display: block;
            z-index: 5;
        }
    }

    @media screen and (min-width:768px) {
        display: flex;
        align-items: center;
    }
}

.header-nav__list {

    @media screen and (max-width:(768px - 0.02)) {
        display: block;
    }

    @media screen and (min-width:768px) {
        display: flex;
    } 
}

.header-nav__link {
    display: block;

    transition: color $transition-duration $transition-timing-function;
    
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: $main-text-color;
    
    &:hover {
        color: $brand-color
    }

    &--current {
         color: $brand-color
    }

    @media screen and (min-width:768px) {
        display: flex;
        padding: 32px 0px;
        font-size: 14px;
        line-height: 1.14;

            &--current::after {
                position: absolute;
                content: '';
                left: 0;
                bottom:-1px;
                width: 100%;
                height: 4px;
                margin: 0;
                padding: 0;
                background-color: $brand-color;
                border-radius: 2px;
            }
    }
}

.header-nav__item {
    @media screen and (max-width:(768px - 0.02)) {
        &:not(:last-child) {
        margin-bottom: 32px;
        }
    }
    
    @media screen and (min-width:768px) {
        position: relative;
        
        &:not(:last-child) {
                margin-right: 50px;
        }
    }
}

.header-contacts {
    @media screen and (max-width:(768px - 0.02)) {
        display: block;
        margin-top: 302px;
    }

    @media screen and (min-width:768px) and (max-width:(1200px - 0.02)) {
        display: inline-block;
        margin-left: 84px;
    }
    
    @media screen and (min-width:1200px) {
        display: flex;
        margin-left: 305px;
        padding: 0;
    }
}

.header-contacts__item {
    display: block;

    @media screen and (min-width:768px) and (max-width:(1200px - 0.02)) {
            &:not(:last-child) {
                margin-right: 50px;
                margin-bottom: 10px;
            }
        }

    @media screen and (min-width:1200px) {
        &:not(:last-child) {
                margin-right: 30px;
        }
    }
}

.header-contacts__link {
    color: $text-color;
    letter-spacing: 0.02em;

    @media screen and (max-width:(768px - 0.02)) {
        font-size: 34px;
        line-height: 1.18;
        
    }

    @media screen and (min-width:768px) {
        display: inline-flex;
        align-items: center;
        font-size: 12px;
        line-height: 1.17;
        font-weight: 500;
    }

    @media screen and (min-width:1200px) {
        display: flex;
            align-items: center;
            padding: 32px 0px;
        
            transition: color $transition-duration $transition-timing-function;
        
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
        
            &:hover {
                color: $brand-color;
            }
    }
}

.header-contacts__icon {
    display: none;

    @media screen and (min-width:768px) {
        display: inline-flex;
        margin-right: 10px;
        fill: currentColor;
    }
}

.header-nav__social-list {
    display: flex;
    margin-top: 64px;

    @media screen and (min-width:768px) {
        display: none;
    }
}

.header-nav__social-item {
    &:not(:last-child) {
        margin-right: 10px;
    }

    &::after {
        content: '';
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-left: 10px;
    }
}

.header-nav__social-link {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $brand-color;
}