.section__hero {
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width:480px) {
        max-width: 480px;
        height: 400px;
        padding: 118px 0px;
    }
    @media screen and (min-width:768px) {
        max-width: 768px;
    }
    @media screen and (min-width:1200px) {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0px;
    }

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2F303A;
}

.hero__title {
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;

    color: $white-color;

    
    @media screen and (min-width:1200px) {
    font-size: 44px;
    line-height: 1.36;  
    }
}

.button {
    display: inline-block;
    width: 200px;
    height: 50px;
    margin: 0 auto;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;

    color: $white-color;
    background-color: $brand-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: $brand-color;
    border-radius: 4px;
}