.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
}

.backdrop__is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    width: 528px;
    height: 581px;


    background: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal__button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    top: 8px;
    right: 8px;

    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: border-color $transition-duration $transition-timing-function;

    

    &--close {
        fill: #000000;
        
        .modal__button:hover & {
                fill: $brand-color;
            }
        }
}

.form {
    display: inline-block;
    padding: 40px;
    margin: 0 auto;
}

.form-group {
    position: relative;

    &:not(:last-child) {
            margin-bottom: 28px;
        }
}

.form-group__label {
    display: flex;
    position: absolute;
    transform: translateY(-120%);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $text-color;
}

.form-content__appeal {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
}

.form-group__input {
    transition: outline-color $transition-duration $transition-timing-function, border-color $transition-timing-function $transition-duration;
    width: 448px;
    height: 40px;
    cursor: pointer;
    padding-left: 42px;

    border: 2px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus {
            outline-color: $brand-color;
            border-color: $brand-color;

            ~.form-group__icon {
                        fill: $brand-color;
                    }
    }
    &--comment {
        height: 120px;
        padding: 12px 16px;
        resize: none;

        &::placeholder {
                color: rgba(117, 117, 117, 0.5);
            }
    }
}

.form-group__icon {
    display: flex;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: fill $transition-duration $transition-timing-function;
}

.form-checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
}

.form-checkbox__label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.71;
    color: $text-color;
}

.form-checkbox__cell {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:checked+.form-checkbox__icon {
            background-color: $brand-color;
            border-color: $brand-color;
        }
}


.form-checkbox__link {
    color: $brand-color;
    text-decoration: underline;
}


.form-checkbox__icon {
    display: inline-block;
    margin-right: 9px;

    transition: border-color $transition-duration $transition-timing-function, background-color $transition-duration $transition-timing-function;

    border: 2px solid #212121;
    border-radius: 4px;

    &:checked {
            background-color: $brand-color;
        }
}

.button_modal {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0px auto;


    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}