.filter {
    @media screen and (max-width:767px) {
        display: inline-flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
    }
}

.filter-item {

    &:not(:last-child) {
            margin-right: 8px;
        }

    @media screen and (max-width:767px) {
        &:nth-last-child(-n + 2) {
            margin-top: 15px;
        }
    }
    
    @media screen and (min-width:768px) {

    }
    
}

.filter-item__button {
    padding: 8px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;

    color: $main-text-color;
    background: #F5F4FA;
    border-radius: 4px;
    border: 0ch;

    transition: color $transition-duration $transition-timing-function, background-color $transition-duration $transition-timing-function;

    &:hover {
        color: $white-color;
        background-color: $brand-color;
    }
}

.projects-list {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-top: 30px;
    }

    @media screen and (min-width:1200px) {
       
        margin-top: 50px;
    }
    
}

.projects-list__item {
    &:hover .projects-content__text{
        transform: translateY(0%);
    }

    &:hover {
         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    @media screen and (max-width:767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: calc((100% - 30px) / 2);
        &:nth-child(odd) {
            margin-right: 30px;
        }
        &:last-child {
            margin-right: 0px;
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width:1200px) {
        position: relative;
        margin-right: 30px;
        margin-bottom: 30px;
        width: calc((100% - 60px) / 3);
        transition: transform $transition-duration $transition-timing-function;
        
        &:nth-child(3n) {
            margin-right: 0px;
        }
        
        &:nth-child(n + 7) {
            margin-bottom: 0px;
        }
    }
}

.projects-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    overflow: hidden;
}

.projects-content__text {
    position: absolute;
    display: inline-block;
    height: 294px;
    padding: 63px 24px;

    transform: translateY(101%);
    transition: transform $transition-duration $transition-timing-function;

    font-size: 18px;
    line-height: 1.55;

    @media screen and (max-width:767px) {
        width: 450px;
        
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        width: 354px;
    }
    

    background: rgba(33, 150, 243, 0.9);
    color: $white-color;
}

.projects-content__image {
    display: block;
}

.projects-description {
    padding-left: 24px;
    padding-bottom: 20px;
    padding-top: 20px;

    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.projects-description__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
}

.projects-description__text {
    display: block;
    margin-top: 4px;

    font-size: 16px;
    line-height: 1.87;

    color: $text-color;
}