body {
    font-family: $main-font;
    font-style: normal;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: $main-text-color;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 480px;

    @media screen and (min-width:768px) {
        width: 768px;
    }

    @media screen and (min-width:1200px) {
        width: 1200px;
    }
}

.logo-accent {
    color: $brand-color;
}

.title--hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;

   @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
   }
}

.section-title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 33px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
}
.social-item {
    &:not(:last-child) {
        margin-right: 10px;
    }
}
.social-item__link {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    border-radius: 50%;
    
    transition: background-color $transition-duration $transition-timing-function, fill $transition-duration $transition-timing-function;
    
    &:hover, &:focus {
        background-color: $brand-color;
        fill: $white-color;
    }
    
    &--inverse-color {
        fill: $white-color;
        background: rgba(255, 255, 255, 0.1);
        transition: background $transition-duration $transition-timing-function;
    
        &:hover, &:focus {
            background: $brand-color;
        }
    }
}